.footermenu {
  padding-top: 79px;
  padding-left: 20px;
}
.nav-item {
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
}

.footerlogo {
  padding-top: 73px;
}
.logoimg {
  width: 197px;
  height: 60px;
}
.divider {
  margin-top: 63px;
  margin-bottom: 43px;
  margin-left: auto;
  margin-right: auto;
  width: 1088px;
  height: 2px;
  border-top: 3px solid #dbdbdb;
  text-align: center;
}

.footertxt {
  padding-top: 39px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  h5 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  #lastmenu {
    padding-top: 0px;
  }
  #social {
    margin-top: -85px;
  }
  .footermenu {
    padding-top: 20px;
  }
}
