html {
  font-size: 10px;
  max-width: 1440px;
}
.signupbtn {
  background-color: #4ba87d;
  border: none;
  padding: 10px 20px;
  letter-spacing: 1.27px;

  border: none;
  font-size: 1.7rem;
  font-weight: 900;
}
.signupbtn:hover {
  background-color: #4ba87d;
  color: white;
}

.nav {
  justify-content: flex-end;
}

.nav-col {
  display: flex;
  justify-content: flex-end;
}
a {
  font-size: 1.7rem;
  font-weight: 800;
  color: black;
  border-bottom: 5px solid #4ba87d;
}

.nav-item {
  padding-left: 15px;
}

.imgrow {
  background-image: url("../Images//headerimg.png");
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: right center;
}

.headerbtns {
  background-color: #4ba87d;
  color: white;
  font-size: 2.1rem;
  font-weight: 900;
  width: 200px;
  height: 65px;
}
#whitebtn {
  background-color: white;
  color: #4ba87d;
  border: 3px solid #4ba87d;
  margin-left: -60px;
}
#greenbtn {
  background-color: #4ba87d;
  color: white;
  border: none;
  margin-right: 100px;
}
h1 {
  font-weight: 900;
  font-family: "Playfair Display", serif;
  font-size: 5.9rem;
}
.navrow {
  height: 102px;
  align-items: center;
}
.logo {
  margin-top: 30px;
}
.headerp {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 26px;
  padding-top: 10px;
}
.headertxt {
  padding-top: 20px;
  padding-left: 60px;
}
.btns {
  padding-top: 10px;
}

@media only screen and (max-width: 1011px) {
  .nav-col {
    display: inline-block;
  }
}
@media only screen and (max-width: 768px) {
  a {
    font-size: 1.1rem;
  }
  .signupbtn {
    background-color: #4ba87d;
    border: none;
    width: 100px;
    font-size: 1.1rem;
  }

  .logo {
    width: 173px;
    height: 53px;
    margin-top: 10px;
  }
  h1 {
    font-size: 3.8rem;
    line-height: 48px;
    font-weight: 900;
  }
  .headerp {
    font-size: 1.2rem;
    line-height: 16px;
    padding-top: 10px;
  }
  .headerbtns {
    width: 131px;
    height: 42px;
    font-size: 1.2rem;
  }
  .headertxt {
    padding-top: 80px;
    padding-left: 30px;
  }
  #whitebtn {
    margin-left: 0px;
  }
  .imgrow {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 1145px) {
  a {
    font-size: 1rem;
  }
  h1 {
    font-size: 3.9rem;
  }
  .headerbtns {
    width: 150px;
    font-size: 1.8rem;
  }
  .btns {
    padding-top: 20px;
  }
  .headertxt {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 944px) {
  a {
    font-size: 1rem;
  }
  h1 {
    font-size: 3.9rem;
  }
  .headerbtns {
    width: 130px;
    font-size: 1.6rem;
  }
  .btns {
    padding-top: 20px;
  }
  .headertxt {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 1145px) {
  a {
    font-size: 1rem;
  }
  h1 {
    font-size: 3.9rem;
  }
  .headerbtns {
    width: 110px;
    font-size: 1.3rem;
    height: 42px;
  }
  .btns {
    padding-top: 20px;
  }
  .headertxt {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 1145px) {
  .signupbtn {
    padding: 8px;
    font-size: 1rem;
  }
  a {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 2.9rem;
  }
  .headerbtns {
    width: 100px;
    font-size: 1.2rem;
    height: 42px;
  }
  .btns {
    padding-top: 20px;
  }
  .headertxt {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-link {
    display: none;
  }
  .imgrow {
    background-size: 100%;
    margin-right: 0px;
  }
  h1 {
    font-size: 3.6rem;
  }
  .headertxt {
    padding-top: 0px;
    margin-top: -10px;
  }
  .headerp {
    margin-top: 290px;
    font-size: 1.4rem;
  }
  #greenbtn {
    margin-right: 10px;
  }
  .headerbtns {
    width: 143px;
  }
  .signupbtn {
    padding: 8px;
  }
}
@media only screen and (max-width: 395px) {
  .headerp {
    margin-top: 180px;
  }
  h1 {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 333px) {
  .headerbtns {
    width: 120px;
  }
  .headerp {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 320px) {
  .nav-link {
    display: none;
  }
  .logo {
    width: 135px;
    height: 42px;
    margin-top: 30px;
  }
  .navrow {
    width: 320px;
  }
  .header-row {
    background-position: center;
    background-size: 100% auto;
  }
  .signupbtn {
    margin-left: 20px;
    margin-top: 15px;
  }

  .nav {
    width: 110px;
  }

  .headertxt {
    padding: 0px;
    margin-top: -55px;
  }
  .headerp {
    padding-top: 80px;
    margin-top: 55px;
    padding-left: 10px;
  }

  .imgrow {
    height: 169px;
    background-size: cover;
    margin-right: 0px;
  }
  .btns {
    padding-left: 10px;
  }
}
