html {
  font-size: 10px;
}
.infocard {
  width: 320px;
}
.card-body {
  padding: 20px;
}
.card-text {
  font-size: 1.6rem;
  line-height: 26px;
}
#infocard2 {
  margin-top: 80px;
}
.col3 {
  max-width: 365px;
}
.ptxt {
  font-size: 1.9rem;
  padding-top: 20px;
}

.info {
  padding-top: 100px;
  padding-left: 30px;
}
.h2 {
  font-size: 4.4rem;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}
.col3div {
  margin-top: 110px;
}
@media only screen and (max-width: 1011px) {
  .infocard {
    width: 280px;
  }
}
@media only screen and (max-width: 890px) {
  .infocard {
    width: 260px;
  }
  .h2 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 830px) {
  .infocard {
    width: 250px;
  }
  .h2 {
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: 810px) {
  .infocard {
    width: 230px;
  }
}
@media only screen and (max-width: 768px) {
  .h2 {
    font-size: 2.8rem;
  }
  .info {
    padding-left: 10px;
    padding-top: 100px;
  }
  .col3 {
    margin-left: auto;
    margin-right: auto;
  }
  .ptxt {
    font-size: 14px;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 725px) {
  .infocard {
    width: auto;
  }
  .card-text {
    font-size: 1.4rem;
    line-height: 18px;
  }
}
@media only screen and (max-width: 575px) {
  .infocard {
    width: 249px;
    margin-left: 0;
  }
  #infocard2 {
    margin-left: auto;
    margin-right: 0;
    margin-top: 50px;
  }
  .col3div{
    margin-top: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .infocard {
    width: 209px;
  }
  .col3div {
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 50px;
  }
  #infocard2 {
    margin-top: 20px;
  }

  .card-text {
    font-size: 1.2rem;
    line-height: 16px;
  }
  .info {
    padding-top: 70px;
  }
}
