html {
  font-size: 10px;
}
.infocard {
  width: 320px;
}
.card-body {
  padding: 20px;
}
.card-text {
  font-size: 1.6rem;
  line-height: 26px;
}
#infocard2 {
  margin-top: 60px;
}
.col3 {
  max-width: 365px;
}
.ptxt{
  font-size: 1.9rem;
}

.info {
  padding-top: 100px;
  padding-left: 30px;

}
.h2 {
  font-size: 4.4rem;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}
.col3div {
  margin-top: 90px;
}
