html {
  margin-left: auto;
  margin-right: auto;
}
.main {
  background-image: url("/src/Images//bgstuff.png");
  height: 2648px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  padding-top: 110px;
}
@media only screen and (max-width: 320px) {
  .main {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .main {
    padding-top: 30px;
  }
}
