@import "bootstrap/dist/css/bootstrap.min.css";

html {
  margin-left: auto;
  margin-right: auto;
}
.app {
  min-width: 320px;
}
.main {
  background-image: url("/src/Images//bgstuff.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  padding-top: 110px;
}

@media only screen and (max-width: 767px) {
  .main {
    padding-top: 0px;
  }
}
@media only screen and (max-width: 320px) {
  .main {
    padding-top: 10px;
    background-image: url("/src/Images//mobilebg.png");
  }
}
